table{
    z-index: 1;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 5px;
}

#userList {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-collapse: collapse;
}

#userList th, #userList td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

#userList th {
    background-color: #80808029;
    font-family: Arial, Helvetica, sans-serif;
}

#userList td{
    font-family: Arial, Helvetica, sans-serif;
}

#userList th, #userList td {
    border: none; 
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

#contraband{
    margin: 20px;
    padding: 20px;
    z-index: 1;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 5px;
}

#contraband p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

#selection{
    display: flex;
    gap: 20px;
}

#heading{
    margin-left:20px;
    display: flex;
    justify-content: space-between;
}

#contact{
    height: 40px;
    color: white;
    background-color: #5945ED;
    width: 150px;
    border-radius: 5px;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-position: 5px center;
    cursor: pointer;
    margin:20px;
}
body{
    background-color: rgba(128, 128, 128, 0.123);
}
.sorting{
    color: #808080;
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-family: arial;
}

.views{
    color: #5945ED;
}

.sorting.select{
    color:#5945ED;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}